* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

h1 {
    margin: 20px;
    padding-top: 10px;
}

h2 {
    margin: 15px;
}

a {
    text-decoration: none;
    color: #212558;
}

.botao {
    border-radius: 15px;
    padding: 15px;
}

.menu {
    height: 80px;
    background-color: #212558;
}

.centraliza {
    width: 80%;
    margin: auto;
}

.flex-container {
    display: flex;
    background-color: #212558;
    padding: 10px;
    width: 60%;
    float: right;
    border-radius: 10px;
  }
  
.flex-container > div {
    background-color: #EE6976;
    margin: 10px;
    padding: 10px;
}

.borda {
    border-radius: 10px;
}

.roxo-nubak {
    background: #212558;
}

.margem {
    margin-top: 20px;
    padding-bottom: 20px;
}

.centraliza-texto {
    text-align: center;
}

.edicao-foto {
    margin-top: 15px;
    border-radius: 10px;
}

.descricao-fonte {
    font-size: 12px;
    font-style: italic;
}