
/* Conteúdo comum das paginas */

*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    padding: 15px 0px 15px 0px;
}

ul {
    list-style: none;
}

.centraliza-texto {
    text-align: center;
}

.raio-foto {
    border-radius: 10px;
}

.img-margem {
    margin: 0px 10px 0px 10px;
}

.sublinha {
    text-decoration: underline;
}

.fonte-branca {
    color: #fff;
}

/* estilo pagina momentos */

.conteudo div {
    display: flex;
    flex-direction: row;
}

.texto-margem {
    margin-left: 10px;
}


.caixa-colorida {
    background: #AED6D2 ;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
    padding: 10px;
}

.fundo-momento {
    background: #AD83D6;
}



/* estilo pagina divertidamente  */

li {
    display: inline-block;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    background: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.divertidamente-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botoes li {
    margin: 5px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
}

.fundo-divertidamente-principal {
    background: #DCF8EC;
    margin-top: 15px;
}

.fundo-divertidamente-segundo {
    background: #DCF8EC;
}

.alinha-img {
   text-align: center;
}

.margem-h1 {
    margin-left: 15px;
}

.caixa {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.vermelho {
    background: #DB5C5B;
}

.roxo {
    background: #CD9ADC ;
}

.verde {
    background: #B3DEC6;
}

.azul {
    background: #98B5DE;
}

.amarelo {
    background: #F5F4B5;
}


/*estilo pagina Futuro*/

hr {
    border: #000 1px solid;
}
.negrito {
    font-weight: 700;
    text-decoration: underline;
}

.fundo-futuro {
    background: #B6F2BA;
}

.texto::first-letter {
    font-size: xx-large;
    padding-left: 20px;
}

/* estilo pagina Curiosidade */

.caixa div {
    margin: 15px auto 15px auto;
    border-radius: 5px;
}

.caixa p {
    text-align: center;
}

.fundo-curiosidade {
    background: #E3BEED;
}

.roxo-claro {
    background: #C7BFE1;
}

.roxo-escuro {
    background: #8F79DB;
}

/* estilo pagina Minhas receitas */

.barra-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Altera a cor dos botões */
.botoes li{ 
    background: #EE6976;
}

.menu-receitas {
    margin: 15px 0px 10px 0px;
    padding: 13px;
    border-radius: 15px;
    background: #212558;
}

.conteudo-receitas {
    display: flex;
    flex-direction: row;
}

.fundo-receitas {
    border-radius: 15px;
    background: #212558
}

.ajusta-imagem {
    margin: 0px 15px 15px 15px;
}

.ajusta-texto {
    margin: 30px 15px ;
}

.caixa-vermelha-psg {
    margin-bottom: 15px;
    border-radius: 15px;
    background: #EE6976;
}













