body {
    background: #000;
}

img {
    width: 300px;
    height: 300px;
}

audio {
    background: #000;
    padding: 15px;
}

.coluna{
    float: left;
    width: 25%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }



