* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #E3BEED;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    padding: 15px;
}
.centraliza-caixa {
    width: 80%;
    margin: 15px auto 15px auto;
    border-radius: 5px;
}

.interno {
    padding: 5px;
}

.centraliza-texto {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.fonte-branca {
    color: #fff ;
}

.roxo-claro {
    background: #C7BFE1;
}

.roxo-escuro {
    background: #8F79DB;
}
