* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #6B6D96;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

hr {
    margin: 20px 0px 20px 0px;
    border: solid 3px #6B6D96;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

.centraliza-texto{
    text-align: center;
}

.centraliza {
    width: 70%;
    margin: 15px auto 15px auto;
    border-radius: 6px;
    background: #B9BBE3;
}
