* {
    margin: 0px;
}

body {
    background:#71D8F6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

hr {
    width: 70%;
    border: 1px solid black;
}

span {
    font-weight: 700;
    text-decoration: underline;
}

p {
    font-weight: 350;
}

.centralize {
    width: 80%;
    margin: auto;
}

.margem_bottom {
    margin-bottom: 25px;
}

.margem_top {
    margin-top: 40px;
}

